<!DOCTYPE html>
<html>
<head>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">

<title>RAF-forum | Login</title>
<!--za stylesheet-->
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/style.css"  media="screen,projection"/>
</head>
<body>
		<style><%- css.style %></style>
	<h1>RAF Forum 🚀 </h1>
	<!-- main -->
	<div class="main">
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form name="login" target="_blank" action="../profiles/" method="post" onsubmit="return validateForm()">
						<input type="text" name="name" placeholder="E-mail" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW" onkeyup= "windowClose()">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>
	<script>
		function validateForm() {
		  var x = document.forms["login"]["name"].value;
		  var y = document.forms["login"]["password"].value;
		  if (x == "") {
			alert("Name must be filled out");
			return false;
		  }
		  else if (y == "") {
			alert("Password must be filled out");
			return false;
		  }
		  else if (y == "" && x == ""){
			alert("Name and password must be filled out");
			return false;
		  }
		}

		function windowClose(){
			close();
		}
		</script>
</body>
</html>