<!DOCTYPE html>
<html>
<head>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">

<title>RAF-forum | Login</title>
<!--za stylesheet-->
<link type="text/css" rel="stylesheet" href="../assets/stylesheets/style.css" />
</head>
<body>
	<h1>RAF Forum 🚀 </h1>
	<!-- main -->
	<div class="main">
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form name="login" target="_blank" action="/profiles/login/" method="post">
						<input type="text" name="name" placeholder="Name" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<div class="tp">
							<input class="dropbtn" type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>
</body>
</html>