<!DOCTYPE html>
<html lang="en">
  <head>
                                                        
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	
	<title>Coaa.io | Welcome</title>
	<!--za stylesheet-->
    <link type="text/css" rel="stylesheet" href="../assets/stylesheets/style.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
        <style>
                <%- css.style %>
            </style>
	<header>
        
            <div>
                <%= profile.id %>
              
            </div>
          <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#"  class="first active">PROFILE</a></li>
                    <li><a href="/news" class="last">NEWS</a></li>
                </ul>
            </nav>
    	
     </header>
     <div class="content">
     <div class="header2"></div>
  
     
</body>
</html>
