<!--
including header content which is common for all pages
-->
<%//- include ../layouts/header.ejs %>
<% include ../layouts/header %>
  <h2>Vasi postovi</h2>

  <!--filter setup-->
  <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Filter posts</button>
      <div id="myDropdown" class="dropdown-content">
        Filtritaj po sledecim parametrima: <br><br>
        <div class="newpost">
          <form action="../postsfilter/" method="POST">
            Naslov:
            <input type="text" name="title"><br>
            Sadrzaj:
            <input type="text" name="tweet"><br><br>
            <input type="submit" value="Apply">
            <input type="reset" value="Reset">
          </form>
        </div>
      </div>
    </div> 

  <!--regular posts-->
  <% posts.forEach(function(post) { %>
      <div class = "card">
        <div class ="container">
          <h4><b><%= post.title %></b></h4>  
          <p><%= post.tweet %></p>
          <div class="login-form" style="float:left">
					  <a href='/posts/edit/<%= country.id %>'>Edit</a> &nbsp;							
				  	<form method="post" action="/posts/delete/<%= country.id %>" style="float:right">
						  <input type="submit" name="delete" value='Delete' />
						  <input type="hidden" name="_method" value="DELETE" />
					  </form>
				  </div>
        </div>
      </div>
<% }); %>

<script>
  function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
</script>

     
</body>
</html>
