@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);

body {
    background: #ABB2B9;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #212121;
}

header-wrapper {
	margin: 0,auto;
	
}
a, a:active, a:hover, a:visited {
	text-decoration: none;
}

/* Header/Navgiation */
header {
    position: fixed;
    background:#293d3d;
    height: 80px;
    width: 100%;
	margin: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.header2{
    height: 80px;
    
}

header img.dots {
    position: center,absolute;
    
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
header nav ul {
    padding: 0px;
    position: absolute;
    left: 5px;
    margin: 0px;
    list-style-type: none;
    bottom: 20px;
    line-height: 1;
}

header nav li {
    display: absolute;
    display: inline-block;
    margin: 0px 12px 0px;
    line-height: 1;
    padding: 0;
    
}

header nav li a{
    color: #fff;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    border-bottom: 2px #fff;
    opacity: 0.7;
}

header nav li .first {
    margin: 0px 0px 0px;
}
header nav li.last {
    margin: 0px;
}

header nav li a.active {
    opacity: 1.0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 800px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    font-family: arial;
    background-color: azure;
    position: relative;
} 

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
  }
  
/* Add some padding inside the card container */
